@font-face {
    font-family: amaticSC;
    src: url(AmaticSC-Regular.woff);
}

body 
{
    background-image: url(Stock_Photos_licened/desk-notebook-pen-writing.jpg);
    background-attachment: absolute;
    background-color: white;
    background-size: 100% 100%;
    margin: 0;
    margin-top: 70px;

/* for Amatic font*/
    font-family: amaticSC;
    font-style: normal;
    font-variant: normal;
    font-weight: 1000;
}


#center
{
    background-color: transparent;
    text-align: center;
}


.titleRound
{
    background-color: lightgray;
    border-radius: 15px 50px;
    border: 3px solid #333;
    padding: 20px; 
    width: 300px;
    height: 60px; 
    margin-left: 450px; 
    text-align: center;
    font-size: 350%;
}

footer
{
    background-color:#333;
    color: lightgray;
    clear:both;
    text-align:center;
    padding:5px;
    border-top: 10px;
    margin-right: 0;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
}

#footerOfLongPage
{
    bottom: auto;
}

ul
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    box-shadow: 0px 5px 5px #888888;
}
    
li
{
    float: left;
}

li a
{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover 
{
    background-color: #111;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0.8)));
}

#round
{
    background-color: lightgray;
    border-radius: 15px 50px;
    border: 3px solid #333;
    padding: 30px; 
    width: 400px;
    height: 450px; 
    margin-left: 100px;
    margin-bottom: 10px;
}

#right
{
    float: right;
    padding-right: 5px;
}

#left
{
    float: left;
}

.column1of3
{
    float: left;
    width: 33%;
}

.column2of3
{
    float: right;
    width: 66%;
}

section {
    width:350px;
    /*float:left;*/
    padding:10px; 
}

