/*for Amatic font (from --> http://www.cssfontstack.com/Amatic-SC)*/
@import url(http://fonts.googleapis.com/css?family=Amatic+SC);

@font-face {
    font-family: amaticSC;
    src: url(AmaticSC-Regular.woff);
}

body 
{
    /*background picture(wrinkled paper) from --> http://www.psddots.com/light-white-wrinkled-paper-textures/*/
    background-image: url(light_white_wrinkle_paper_texture2.jpg);
    background-attachment: absolute;
    background-color: white;
    margin-top: 70px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;

/* for Amatic font*/
    font-family: amaticSC;
    font-style: normal;
    font-variant: normal;
    font-weight: 1000;
}


h1
{
    background-image: url("paint-splatter-wallpaper-hd-amazing-p15100cw.jpg") no-repeat center center fixed;
    background-color: transparent;
    text-align: center;

}

footer
{
    background-color: #333;
    position: absolute;
    width: 100%;
    color: lightgray;
    border-top: 10px;
    margin-right: 0;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;

}

ul
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
    
li
{
    float: left;
}

li a
{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:active
{
    background-color: #555; 
}

li a:hover 
{
    background-color: #111;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0.8)));
}

#round
{
    background-color: lightgray;
    border-radius: 15px 50px;
    border: 3px solid #333;
    padding: 30px; 
    width: 400px;
    height: 450px; 
    margin-left: 10px;
}

#right
{
    float: right;
}

#left
{
    float: left;
}
